[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
djangorestframework = "*"
django-rest-knox = "*"
django-searchable-encrypted-fields = "*"
django-encrypted-model-fields = "*"
psycopg2 = "*"
pillow = "*"
django-encrypted-filefield = "*"
django-rest-auth = {extras = ["with-social"],version = "*"}
django-allauth = "*"
httpie = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-filter = "*"
django-heroku = "*"
gunicorn = "*"
django-extensions = "*"
channels = "*"
boto3 = "*"
django-storages = "*"
django = "==2.2.13"

[requires]
python_version = "3.7"
