* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

/* .background { 
    background-image: url('https://66.media.tumblr.com/d2662e0ce640759d5c3d835bff85117c/17b3ba5bedb840e0-cc/s1280x1920/0478e11be1fa6adab961bfedfdf9d67e0ea9b4c3.png');
    background-repeat: no-repeat;
    background-size: cover;  
} */

.header {
    color: #79BFC0; 
    font-size: 50pt; 
    margin-right: 80%; 
    text-decoration: none;
}

.header:hover {
    color: rgb(137, 236, 237); 
    font-size: 50pt; 
    margin-right: 80%; 
    text-decoration: none;
}

.login-header {
    color: #79BFC0; 
    font-size: 50pt; 
    margin-top: 10%; 
    margin-bottom: 10%; 
}

.login-p {
    color: rgb(155, 168, 168); 
}

h2 {
    color: #79BFC0; 
    font-size: 30pt; 
    margin-bottom: 10%; 
}

.signin {
    margin-bottom: 20px; 
}

.navbar{
    display: flex; 
    justify-content: space-evenly;
    margin-bottom: 50px; 
    margin-left: 30px; 
    margin-right: 30px; 
}

.links {
    margin-top: 20px; 
    display: flex;
    justify-content: space-evenly;
}

ul {
    list-style-type: none;
}

li {
    margin-right: 10px; 
}

.sandwich {
    width: 35px;
    height: 5px;
    background-color: #CBDFDF;
    margin: 6px 0 0 6px;
}

.add {
    border-style: solid; 
    border-color:#CBDFDF;  
    border-width: 5px; 
    border-radius: 10px; 
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 15px; 
    outline: none;
}

.notification {
    margin-top: 15px; 
}

.nav {
    color: #BCCACA;
    cursor: pointer;
    text-decoration: none;
}

.nav:hover {
    color: rgb(164, 176, 176);
    cursor: pointer;
    text-decoration: none;
}

.circle-list {
    display: flex; 
    justify-content: space-evenly;
    flex-wrap: wrap; 
}

.circle-name {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size: 14pt;
    background-color: #79BFC0;
    line-height: 180px;
    text-align: center;
    margin: 50px; 
    color: white; 
    text-decoration: none; 
}

.pending-circle-name {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size: 14pt;
    background-color: palevioletred;
    line-height: 180px;
    text-align: center;
    margin: 50px; 
    color: white; 
    text-decoration: none; 
}

.login-page {
    display: flex; 
    justify-content: space-evenly;
    flex-wrap: wrap; 
    margin-top: 10%; 
}

.login-2 {
    border-style: solid;
    border-color: #CBDFDF; 
    border-radius: 10%; 
    padding: 30px; 
}

.signin {
    margin-left: 210px; 
}

input {
    border-style: solid; 
    border-color:#CBDFDF;  
    border-width: 2px; 
    border-radius: 10px; 
    background-color: white; 
    padding: 10px; 
    width: 250px; 
    margin-bottom: 20px; 
    outline: none;
}

.registration {
    display: flex; 
    justify-content: space-evenly;
    flex-wrap: wrap; 
    margin-top: 10%; 
}

.register-2 {
    border-style: solid;
    border-color: #CBDFDF; 
    border-radius: 10%; 
    padding: 30px; 
}
.modal {
    margin-left: 93%; 
}

label {
    color: rgb(155, 168, 168); 
}

button {
    color: #BCCACA;
    cursor: pointer;
    text-decoration: none;
    padding: 5px; 
    border-radius: 10%; 
    border-color: #BCCACA;
    border-width: 1px; 
    outline: none; 
}

button:hover {
    color: rgb(164, 176, 176);
    cursor: pointer;
    text-decoration: none;
}
.member {
    color: rgb(155, 168, 168); 
}

.register-link {
    color: rgb(134, 134, 134); 
    text-decoration: none; 
}

.register-link:hover {
    color: rgb(78, 75, 75); 
    text-decoration: none; 
}

.content {
    border-style: solid;
    border-color: #BCCACA;
    border-width: 5px; 
    border-radius: 10px;
    padding: 4rem; 
}

.content-header {
    color: rgb(134, 134, 134); 
}