* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

/* .background { 
    background-image: url('https://66.media.tumblr.com/d2662e0ce640759d5c3d835bff85117c/17b3ba5bedb840e0-cc/s1280x1920/0478e11be1fa6adab961bfedfdf9d67e0ea9b4c3.png');
    background-repeat: no-repeat;
    background-size: cover;  
} */

button {
    border-color: rgb(174, 175, 175); 
    border-width: 2px;
    border-radius: 5px; 
    font-weight: bolder;
    font-size: 10pt;
    color: rgb(165, 168, 168);
    cursor: pointer;
    text-decoration: none;
    padding: 5px; 
    outline: none; 
}

.posters-buttons {
    display: flex; 
    margin-bottom: 30px; 
    margin-top: 10px; 
}

.posters-delete {
    opacity: 0; 
}

.posters-delete:hover {
    opacity: 1; 
}

.posters-1 {
    margin-right: 55%; 
}

.posters-2 {
    margin-left: 10%; 
    margin-right: 10px; 
}

button:hover {
    background-color: rgb(164, 176, 176);
    color: white; 
}

.header  {
    color: rgb(10, 195, 198); 
    font-size: 50pt; 
    text-decoration: none;
}

.logo-1 {
    margin-right: 15px; 
}

.greeting {
    margin-left: 4%;
}

.header:hover {
    color: rgb(7, 142, 144); 
    font-size: 50pt; 
    /* margin-right: 80%;  */
    text-decoration: none;
}

.login-header {
    color: #79BFC0; 
    font-size: 50pt; 
    margin-top: 10%; 
    margin-bottom: 10%; 
}

.login-p {
    color: rgb(105, 109, 109); 
    font-size: 20pt; 
    font-weight: bold; 
}

h2 {
    color: #79BFC0; 
    font-size: 30pt; 
    margin-bottom: 30px; 
}



.hidden {
    display: none;
}

.signin {
    border-style: solid;
    border-color: rgb(174, 175, 175); 
    border-width: 2px;
    margin-left: 67%;  
    margin-bottom: 30px; 
    font-size: 12pt; 
}

.member {
    color: rgb(120, 124, 124); 
    font-size: 12pt; 
    font-weight: bold;
}


.navbar{
    display: flex; 
    justify-content: space-evenly;
    margin: 16px 30px 25px; 
    width: 100vw;
}


ul {
    list-style-type: none;
}

li {
    margin-right: 10px; 
}



.add {
    border-style: solid; 
    border-color:rgb(7, 142, 144); 
    border-width: 5px; 
    border-radius: 10px; 
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
    padding: 5px 15px;
    margin-top: 15px; 
    outline: none;
    color: rgb(7, 142, 144); 
}

.add:hover {
    background-color: rgb(7, 142, 144); 
    color: white; 
}

.notification {
    margin-top: 15px; 
}

.notification .badge {
    position: absolute;
    top: 38px;
    right: 45px;
    padding: 5px 10px;
    border-radius: 50%;
    background: #AF5050;
    color: white;
    font-weight: bolder;
}

.circle-list {
    display: flex; 
    justify-content: space-evenly;
    flex-wrap: wrap; 
}

.circle-name {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size: 15pt;
    background-color: rgb(246, 233, 111);
    /* background-color: rgb(72, 179, 181); */
    line-height: 180px;
    text-align: center;
    margin: 50px; 
    color: gray; 
    text-decoration: none;
    font-weight: 900; 
    box-shadow: 10px 5px 8px rgba(193, 188, 188, 0.765);
    transition: all 0.5s ease; 
}

.circle-name:hover {
    width: 220px;
    height: 220px;
    line-height: 220px;
    background-color: rgb(7, 142, 144);
    color: white;
}

.pending-circle-name {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size: 14pt;
    background-color: palevioletred;
    line-height: 180px;
    text-align: center;
    margin: 50px; 
    color: white; 
    text-decoration: none; 
    box-shadow: 10px 5px 8px rgba(193, 188, 188, 0.765);
    transition: all 0.5s ease; 
}

.pending-circle-name:hover {
    width: 220px;
    height: 220px;
    line-height: 220px;
    background-color: rgb(216, 67, 116);
}

.login-page {
    display: flex; 
    justify-content: space-evenly;
    flex-wrap: wrap; 
    margin-top: 10%; 
}

.login-2 {
    border-style: solid;
    border-color: rgb(174, 175, 175); 
    border-radius: 10%; 
    padding: 30px; 
}

label {
    color: rgb(105, 109, 109); 
    font-weight: bold; 
}

input {
    border-style: solid; 
    border-color:rgb(174, 175, 175);  
    border-width: 2px; 
    border-radius: 10px; 
    background-color: white; 
    padding: 10px; 
    width: 250px; 
    margin-bottom: 20px; 
    outline: none;
    font-weight: bold; 
    font-size: 14pt; 
    color: rgb(63, 64, 64); 
}

.links-1 {
    display: flex; 
}


.links-2 {
    margin-top: 20px; 
    display: flex;
    margin-left: 29%;
    justify-content: space-evenly;
}

.registration {
    display: flex; 
    justify-content: space-evenly;
    flex-wrap: wrap; 
    margin-top: 10%; 
}

.register-2 {
    border-style: solid;
    border-color: #CBDFDF; 
    border-radius: 10%; 
    padding: 30px; 
}

.register-link {
    color: rgb(134, 134, 134); 
    text-decoration: none; 
}

.register-link:hover {
    color: rgb(78, 75, 75); 
    text-decoration: none; 
}
.modal {
    margin-left: 93%; 
}

.modal2 {
    margin-left: 95%; 
}

h3 {
    color: rgb(134, 134, 134); 
    margin-top: 15px; 
    margin-bottom: 20px; 
}

.message {
    margin-top: 10%;
    margin-bottom: 10%;
    color: #79BFC0; 
}

.edit {
    display: flex;
    justify-content: space-evenly;
}

.delete {
    display: flex;
    justify-content: space-evenly;
}

.content-2 {
    width: 100%; 
}


.post-me {
    border-style: solid;
    border-color: rgb(7, 142, 144);
    border-width: 5px; 
    border-radius: 10px;
    display: flex; 
    justify-content: space-between;
    margin-left: 20px;  
    margin-right: 20px; 
    width: 750px; 
}

.comment {
    border-style: solid;
    border-color: rgb(194, 217, 218);
    border-width: 2px; 
    border-radius: 10px;
    width: 750px; 
    height: 90%; 
    margin-left: 20px;  
    margin-top: 1.5px; 
}

.post-comment {
    display: flex; 
    justify-content: space-between;
    height: 50px; 
    margin-left: 25px; 
}

.postings-1 {
    background-color: rgba(212, 221, 221, 0.808);
    display:inline-block;
    border-radius: 7px; 
    padding: 5px; 
    margin-bottom: 5px; 
    margin-right: 5px; 
    margin-top: 5px; 
}


.post-2 {
    width: 100%; 
    height: 100%;
}


.posts-2 {
    width: 90%; 
    font-size: 9pt; 
}

.posting-1 {
    margin-bottom: 3%; 
}

.posting-2 {
    margin-bottom: 40px; 
    text-align: center;
}

.posting-user {
    display: flex; 
    justify-content: end; 
    margin-left: 57.5%; 
    margin-top: 15px; 
}

.postings-2 {
    text-align: center;
}

.postings-buttons {
    display: flex; 
    justify-content: end; 
    margin-left: 71%; 
}

.posters {
    margin-right: 10px; 
}

.editor {
    margin-right: 10px; 
}

.content-header {
    margin-bottom: 30px; 
    color: rgb(134, 134, 134);
}

.profile-2 {
    display: grid;
    grid-auto-columns: 1fr;
    border-style: solid;
    border-color: rgb(7, 142, 144);
    border-radius: 15px;
    border-width: 5px; 
    width: 330px; 
    height: 100%; 
}

/* Toolbar buttons */
.postButton {
    display: grid;
    grid-auto-columns: 1fr;
    padding: 30px;  
    text-align: center;
}

.add-comment {
    width: 750px; 
    margin-left: 20px; 
    margin-bottom: 30px; 
    margin-top: 2px; 
}


.editing-input {
    width: 650px; 
    height: 100px; 
    text-align: center; 
}

.exit {
    margin-left: 97%; 
}

.exiter {
    margin-left: 97%; 
    margin-bottom: 20px; 
}

.delete-message {
    margin-bottom: 20px; 
}

.new-post-header {
    margin-bottom: 20px;
}

.postmate {
    margin-bottom: 10px; 
}

.posting-input {
    min-width: 440px; 
    height: 100%; 
    text-align: center; 
}

.contents {
    display: flex; 
    justify-content: space-between; 
    margin-left: 150px; 
    margin-right: 150px; 
}

.profile-pic-default {
    height: 40px;
    width: 40px;
    border-radius: 50%; 
    object-fit: cover; 
    margin-right: 10px; 
    margin-top: 15px; 
}

.profile-pic-small {
    height: 40px;
    width: 40px;
    border-radius: 50%; 
    margin-top: 5px; 
    object-fit: cover; 
}



.profile-pic-large {
    height: 150px;
    width: 150px;
    border-radius: 50%; 
    padding: 10px; 
    margin-right: 20px; 
}


.profile-submit{
    margin-top: 15px; 
    margin-left: 85%; 
}

.leaving {
    display: flex; 
    justify-content: space-evenly; 
}

.invites-header {
    text-align: center; 
    margin-bottom: 30px; 
}

hr {
    border: 3px dashed rgb(163, 147, 147);
    width: 100%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

p {
    color: rgb(7, 90, 92);
}

.add-member {
    margin-bottom: 10px; 
}

h4 {
    color: rgb(7, 90, 92);
}


.invite-circle {
    border-style: solid; 
    border-color: rgb(7, 142, 144);
    border-radius: 10px; 
    padding: 20px; 
    width: 600px; 
    height: 200px;
    text-align: center;  
    margin: 10% auto; 
}

.pending {
    margin-bottom: 20px; 
}

.pending-buttons {
    display: flex; 
    justify-content: space-evenly;
    margin-bottom: 10px; 
}

.you-are-admin {
    margin-bottom: 15px; 
}

.dropzone {
    margin-top: 10px; 
    margin-left: 75%; 
}

.administration {
    margin-bottom: 10px; 
    color: rgb(7, 90, 92);
}

.drag {
    margin-left: 17%; 
    outline-style: none;
    color: rgb(10, 151, 153);
}

.drag:hover {
    color: white; 
}

.empty {
    width: 600px; 
    text-align: center;
    margin-top: 80px; 
    font-size: 25pt; 
    margin-left: 15%; 
}

.empty-profile {
    width: 650px; 
    text-align: center;
    margin: 0 auto; 
    font-size: 30pt; 
}

.no-circles {
    margin-top: 200px; 
}

.modal-head {
    width: 450px; 
    text-align: center; 
}

.post-photo {
    width: 550px; 
    height: 350px; 
}

.star-gold {
    width: 10px; 
}

.star-outline {
    margin-left: 2px; 
    display: flex; 
    justify-content: space-evenly;
    width: 10px; 
}


.star {
    margin-left: 5px; 
}

.creative {
    margin-left: 42%; 
}

.drags {
    display: flex; 
    justify-content: space-evenly;
}

.pendingCircle {
    border-style: solid; 
    border-width: 2px;
    border-radius: 5px; 
    border-color: rgb(7, 142, 144);
    margin: 0 auto; 
    text-align: center; 
    width: 500px; 
}

.pendingHead{
    margin-bottom: 10px; 
}

.dragdrop {
    text-align: center;
    margin-bottom: 10px; 
    color: rgb(7, 90, 92);
    outline: none;
}

.dragdrop:hover {
  color: rgb(9, 163, 165);
}

.dragpic {
    color: rgb(7, 90, 92);
    outline: none;
}

.dragpic:hover {
  color: rgb(9, 163, 165);
}


@media only screen and (max-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: column;
        padding-right: 30%;
        
    }
    .contents {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        width: 100vw;
    }
    .profile-2 {
        display: flex;
        flex-direction: column;
    }
    .posting-user {
       display: flex;
       flex-direction: row;
       justify-content: flex-start;
       margin: 0;
       
    }

    .postings-buttons {
       display: flex;
       flex-direction: row;
       justify-content: flex-start;
       margin: 0;
       
    }
    .star-outline {
    margin: 0px; 
    width: 10px; 
    height: 10px;
    }


    .star {
    margin: 0px; 

    }

    /* .star-gold {
    padding-bottom: 50px;
    width: 10px;
    } */
}